################################################################################
# New Simulation Parameters

SIM_GENERAL_YAML            none
SIM_ATMOSPHERE_YAML         none
SIM_TELESCOPE_YAML          none
SIM_RELAY_OPTICS_YAML       none
SIM_INSTRUMENT_YAML         none
SIM_DETECTOR_YAML           none

SIM_LAM_MIN                 0.3     # [um] minimum wavelength for simulation
SIM_LAM_MID                 2.5     # [um] wavelength centred on optical axis for spectroscopic simulation
SIM_LAM_MAX                 30      # [um] maximum wavelength for simulation

SIM_PIXEL_SCALE             none    # [arcsec] on-sky pixel scale. If none, ScopeSim looks for pixel_scale in the yaml files

################################################################################
# Observation parameters

OBS_DIT                     0       # [s] Length of single exposure
OBS_NDIT                    0       # [#] Number of exposures

OBS_AIRMASS                 1       # Airmass of observations
OBS_TEMPERATURE             0       # [deg C] Outside / Telescope temperature
OBS_HUMIDITY                0       # [%] Outside relative humidity in percent!
OBS_PRESSURE                0       # [millibar] Outside pressure
OBS_PWV                     0       # [mm] Precipitable water vapour
OBS_FIELD_ROTATION          0       # [deg] Amount of rotation per DIT of the pupil relative to the sky
OBS_PUPIL_ANGLE             0       # [deg] Angle of optical axis relative to zenith
