################################################################################
# New Simulation Parameters

SIM_GENERAL_YAML            none
# or
SIM_ATMOSPHERE_YAML         none
SIM_TELESCOPE_YAML          none
SIM_INSTRUMENT_YAML         none
SIM_DETECTOR_YAML           none

SIM_PIXEL_SCALE             1       # [arcsec] pixel scale on detector plane
SIM_LAM_MIN                 0.3     # [um] minimum wavelength for simulation
SIM_LAM_MID                 2.5     # [um] wavelength centred on optical axis for spectroscopic simulation
SIM_LAM_MAX                 30      # [um] maximum wavelength for simulation
