################################################################################
# New Simulation Parameters

SIM_GENERAL_YAML            none
SIM_ATMOSPHERE_YAML         none
SIM_TELESCOPE_YAML          none
SIM_INSTRUMENT_YAML         none
SIM_DETECTOR_YAML           none

SIM_PIXEL_SCALE             1       # [arcsec] pixel scale on detector plane
SIM_LAM_MIN                 0.3     # [um] minimum wavelength for simulation
SIM_LAM_MID                 2.5     # [um] wavelength centred on optical axis for spectroscopic simulation
SIM_LAM_MAX                 30      # [um] maximum wavelength for simulation


################################################################################
# Observation parameters

OBS_DIT                     1       # [s] Length of single exposure
OBS_NDIT                    1       # [#] Number of exposures

OBS_AIRMASS                 1       # Airmass of observations
OBS_TEMPERATURE             0       # [deg C] Outside / Telescope temperature
OBS_HUMIDITY                60      # [%] Outside relative humidity in percent!
OBS_PRESSURE                750     # [millibar] Outside pressure

