include README.md
include LICENSE
include scopesim/defaults.yaml
include scopesim/vega.fits
recursive-include scopesim/data *

prune *OLD_*
prune *docs_to_be_sorted*
prune *misc*
prune *scopesim_pkg_dir_tmp*

prune scopesim/tests*
graft scopesim/tests/mocks/basic_instrument*
include scopesim/tests/mocks/load_basic_instrument.py
