[project]
name = "ScopeSim"
version = "0.6.0"
description = "Generalised telescope observation simulator"
readme = "README.md"
requires-python = ">=3.8"
license = {text = "License :: OSI Approved :: GNU General Public License v3 (GPLv3)"}
authors = [
    {name = "Kieran Leschinski", email="kieran.leschinski@unive.ac.at"},
]
maintainers = [
    {name = "Kieran Leschinski", email="kieran.leschinski@unive.ac.at"},
    {name = "Hugo Buddelmeijer", email="hugo@buddelmeijer.nl"},
]
classifiers=[
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Astronomy",
]
dependencies = [
    "numpy>=1.19",
    "scipy>=1.4.0",
    "astropy>=5.0",
    "matplotlib>=3.2.0",

    "docutils>=0.15",
    "requests>=2.28.2",
    "beautifulsoup4>=4.4",
    "lxml>=4.5.0",
    "pyyaml>5.1",
    "more-itertools>=9.0",
    "tqdm>=4.64",
    "requests-cache>1.0",

    "synphot>=1.1.0",
    "skycalc_ipy>=0.1.3",
    "anisocado>=0.3.0",
]

[project.optional-dependencies]
dev = [
    "jupyter",
    "jupytext",
]
test = [
    "pytest>=5.0.0",
    "pytest-cov",
    "scopesim_templates>=0.4.4",
    # Just so that readthedocs doesn't include the tests module - yes it's hacky
    "skycalc_cli",
]
docs = [
    "sphinx>=4.3.0",
    "sphinx-rtd-theme>=0.5.1",
    "jupyter_sphinx==0.2.3",
    "sphinxcontrib-apidoc",
    "nbsphinx",
    "numpydoc",
]

[project.urls]
"Homepage" = "https://scopesim.readthedocs.io/en/latest/"
"Source" = "https://github.com/AstarVienna/ScopeSim"
"Bug Reports" = "https://github.com/AstarVienna/ScopeSim/issues"

[tool.setuptools.packages]
find = {}

[tool.pytest.ini_options]
addopts = "--strict-markers"
markers = [
    "webtest: marks tests as requiring network (deselect with '-m \"not webtest\"')",
]
