[project]
name = "ScopeSim"
version = "0.7.1"
description = "Generalised telescope observation simulator"
readme = "README.md"
requires-python = ">=3.8"
license = {text = "License :: OSI Approved :: GNU General Public License v3 (GPLv3)"}
authors = [
    {name = "Kieran Leschinski", email="kieran.leschinski@unive.ac.at"},
]
maintainers = [
    {name = "Kieran Leschinski", email="kieran.leschinski@unive.ac.at"},
    {name = "Hugo Buddelmeijer", email="hugo@buddelmeijer.nl"},
]
classifiers=[
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Astronomy",
]
dependencies = [
    "numpy>=1.20.0",
    "scipy>=1.10.0",
    "astropy>=5.0",
    "matplotlib>=3.7.2",
    "pooch>=1.7.0",  # for scipy.datasets

    "docutils>=0.15",
    "requests>=2.28.2",
    "beautifulsoup4>=4.4",
    "lxml>=4.5.0",
    "pyyaml>5.1",
    "more-itertools>=9.0",
    "tqdm>=4.64",
    "requests-cache>1.0",

    "synphot>=1.1.0",
    "skycalc_ipy>=0.2.0",
    "anisocado>=0.3.0",
]

[project.optional-dependencies]
dev = [
    "jupyter",
    "jupytext",
    "ipykernel",
]
test = [
    "pytest>=5.0.0",
    "pytest-cov",
    "scopesim_templates>=0.4.4",
    # Just so that readthedocs doesn't include the tests module - yes it's hacky
    "skycalc_cli",
    "ipykernel",
]
docs = [
    "sphinx>=4.3.0",
    "sphinx-rtd-theme>=0.5.1",
    "jupyter_sphinx==0.2.3",
    "sphinxcontrib-apidoc",
    "nbsphinx",
    "numpydoc",
    "scopesim_templates>=0.4.4",
    "ipykernel"
]

[project.urls]
"Homepage" = "https://scopesim.readthedocs.io/en/latest/"
"Source" = "https://github.com/AstarVienna/ScopeSim"
"Bug Reports" = "https://github.com/AstarVienna/ScopeSim/issues"

[tool.setuptools.packages]
find = {}

[tool.pytest.ini_options]
addopts = "--strict-markers"
markers = [
    "webtest: marks tests as requiring network (deselect with '-m \"not webtest\"')",
]
filterwarnings = [
    "error",
    # Should probably be fixed:
    "ignore::ResourceWarning",
    "ignore:The fit may be poorly conditioned:astropy.utils.exceptions.AstropyUserWarning",
    # Perhaps fix?
    "ignore:divide by zero encountered in scalar divide:RuntimeWarning",
    "ignore:divide by zero encountered in double_scalars:RuntimeWarning",
    "ignore:invalid value encountered in multiply:RuntimeWarning",
    "ignore:Cannot merge meta key.*:astropy.utils.metadata.MergeConflictWarning",
    # Raised when saving fits files, not so important to fix:
    "ignore:.*a HIERARCH card will be created.*:astropy.io.fits.verify.VerifyWarning",
    # Web-related issues, fix at some point
    "ignore:'urllib3.contrib.pyopenssl'*:DeprecationWarning",
    "ignore:Blowfish*:UserWarning",
    # Not sure what that is but it's everywhere...
    "ignore:'cgi'*:DeprecationWarning",
    "ignore:The py23*:DeprecationWarning",
    "ignore:datetime.datetime.utcfromtimestamp()*:DeprecationWarning",
]
