numpy>=1.16
scipy
matplotlib
astropy
numba

docutils
requests
beautifulsoup4
lxml
pyyaml
pysftp

synphot
skycalc_ipy
anisocado
git+https://github.com/AstarVienna/ScopeSim.git@dev_master
scopesim_templates

sphinx>=4.3.0
sphinx-rtd-theme>=0.5.1
jupyter_sphinx==0.2.3
sphinxcontrib-apidoc
nbsphinx
numpydoc

# See https://github.com/sphinx-doc/sphinx/issues/7659 for why sphinx==2.4