pytest
pytest-cov

numpy>=1.16
scipy
astropy
matplotlib
jupyter
jupytext

# for scipy.datasets
pooch

docutils
requests
beautifulsoup4
lxml
pyyaml
pysftp

synphot
skycalc_ipy
anisocado
scopesim_templates

# Just so that readthedocs doesn't include the tests module - yes it's hacky
skycalc_cli


