numpy           #>=1.16.0
scipy           #==1.2.0
astropy
matplotlib      #==3.0.2

requests
beautifulsoup4
pyyaml

synphot         #<0.2
skycalc_ipy
anisocado

# Just so that readthedocs doesn't include the tests module - yes it's hacky
skycalc_cli

