pytest

numpy>=1.16
scipy
astropy
matplotlib
jupyter

docutils
requests
beautifulsoup4
pyyaml

synphot
skycalc_ipy
anisocado

# Just so that readthedocs doesn't include the tests module - yes it's hacky
skycalc_cli

scopesim_templates
