################################################################################
# MICADO : BASE CONFIGURATION PARAMETERS


################################################################################
# Observation Parameters

OBS_EXPTIME             60                      # [sec] simulated exposure time
OBS_NDIT                1                       # [#] number of exposures taken
OBS_NONDESTRUCT_TRO     2.6                     # [sec] time between non-destructive readouts in the detector
OBS_READ_MODE           single                  # [single, fowler, ramp] Only single is implemented at the moment


################################################################################
# Simulation Parameters

SIM_TELESCOPE_PACKAGE   ELT                     # name of telescope package
SIM_INSTRUMENT_PACKAGE  MICADO                  # name of instrument package

SIM_PIXEL_THRESHOLD     1                       # photons per pixel summed over the wavelength range. Values less than this are assumed to be zero

SIM_FILTER_THRESHOLD    1E-9                    # transmission below this threshold is assumed to be 0
SIM_USE_FILTER_LAM      yes                     # [yes/no] to basing the wavelength range off the filter non-zero range - if no, specify LAM_MIN, LAM_MAX

SIM_ADC_SHIFT_THRESHOLD 1                       # [pixel] the spatial shift before a new spectral layer is added (i.e. how often the spectral domain is sampled for an under-performing ADC)


################################################################################
# Atmospheric Parameters

ATMO_USE_ATMO_BG        yes                     # [yes/no]

ATMO_AIRMASS            1.0                     # airmass, can be overridden by OBS_ZENITH_DIST
ATMO_TC                 TC_sky_25.tbl           # [filename] for atmospheric transmission curve. Default: <pkg_dir>/data/TC_sky_25.tbl
ATMO_EC                 EC_sky_25.tbl           # [filename, "none"] for atmospheric emission curve. Default: <pkg_dir>/data/EC_sky_25.tbl

ATMO_TEMPERATURE        0                       # deg Celcius
ATMO_PRESSURE           750                     # millibar
ATMO_REL_HUMIDITY       60                      # %
ATMO_PWV                2.5                     # [mm] Paranal standard value


################################################################################
# Telescope Parameters

SCOPE_ALTITUDE          3060                    # meters above sea level
SCOPE_LATITUDE          -24.589167              # decimal degrees
SCOPE_LONGITUDE         -70.192222              # decimal degrees
SCOPE_TEMPERATURE       9.                      # temperature of telescope [Celsius]

SCOPE_NUM_MIRRORS       5                       # number of reflecting surfaces
SCOPE_AO_EFFECTIVENESS  100                     # [%] percentage of seeing PSF corrected by AO - 100% = diff limited, 0% = 0.8" seeing
SCOPE_JITTER_FWHM       None                    # [arcsec] gaussian telescope jitter (wind, tracking)
SCOPE_DRIFT_DISTANCE    None                    # [arcsec/sec] the drift in tracking by the telescope
SCOPE_DRIFT_PROFILE     linear                  # [linear, gaussian] the drift profile. If linear, simulates when tracking is off. If gaussian, simulates rms distance of tracking errors

SCOPE_USE_MIRROR_BG     yes                     # [yes/no]

SCOPE_M1_TC             TER_mirror_mgf2agal.dat # [filename] Mirror reflectance curve. Default: <pkg_dir>/data/TC_mirror_EELT.dat
SCOPE_MIRROR_LIST       EC_mirrors_ELT.tbl      # [filename] List of mirror sizes.     Default: <pkg_dir>/data/EC_mirrors_EELT_SCAO.tbl


################################################################################
# Instrument Parameters

INST_TEMPERATURE        -190                    # deg Celsius - inside temp of instrument

INST_ENTR_NUM_SURFACES  1                       # number of surfaces on the entrance window
INST_ENTR_WINDOW_TC     TER_entrance_window.dat # [filename] Default: <pkg_dir>/data/TC_window.dat --> transmission = 0.98 per surface

INST_DICHROIC_NUM_SURFACES  None                # number of surfaces on the entrance window
INST_DICHROIC_TC        None                    # [filename] Default: <pkg_dir>/data/TC_dichroic.dat --> transmission = 1 per surface

INST_FILTER_TC          Ks                      # [filename, string(filter name)] List acceptable filters with >>> simcado.optics.get_filter_set()

INST_PUPIL_NUM_SURFACES None                    # number of surfaces on the pupil window
INST_PUPIL_TC           None                    # [filename] Default: <pkg_dir>/data/TC_pupil.dat --> transmission = 1 per surface


INST_MIRROR_TC          TER_mirror_gold.dat     # Filename of instrument mirror transmission curve

INST_USE_AO_MIRROR_BG   yes                     # [yes/no]
INST_AO_TEMPERATURE     0                       # deg Celsius - inside temp of AO module

INST_ADC_PERFORMANCE    100                     # [%] how well the ADC does its job
INST_ADC_NUM_SURFACES   1                       # number of surfaces in the ADC
INST_ADC_TC             TER_full_adc.dat        # [filename] Default: <pkg_dir>/data/TC_ADC.dat --> transmission = 0.98 per surface

INST_DEROT_PERFORMANCE  100                     # [%] how well the derotator derotates
INST_DEROT_PROFILE      linear                  # [linear, gaussian] the profile with which it does it's job

INST_DISTORTION_MAP     None                    # path to distortion map
INST_WFE                INST_wfe.tbl            # [nm] (float or filename) A single number for the total WFE of a table of wavefront errors for each surface in the instrument
INST_FLAT_FIELD         None                    # path to a FITS file containing a flat field (median = 1) for each chip.

################################################################################
# Spectroscopy parameters

SPEC_ORDER_SORT         None                    # Order-sorting filter: "HK" or "IJ"
SPEC_SLIT_WIDTH         narrow                  # Slit width: "narrow" or "wide"

################################################################################
# Detector parameters

FPA_USE_NOISE           yes                     # [yes/no]

FPA_READOUT_MEDIAN      0                       # e-/px
FPA_READOUT_STDEV       4                       # e-/px
FPA_DARK_MEDIAN         0                       # e-/s/px
FPA_DARK_STDEV          0.1                     # e-/s/px

FPA_QE                  QE_detector_H2RG.dat    # [filename] Quantum efficiency of detector.
FPA_NOISE_PATH          None                    # [filename, "generate"] if "generate": use NGHxRG to create a noise frame.
FPA_GAIN                1                       # e- to ADU conversion
FPA_LINEARITY_CURVE     FPA_linearity.dat       # [filename, "none"]
FPA_FULL_WELL_DEPTH     1E5                     # [e-] The level where saturation occurs

FPA_PIXEL_MAP           None                    # path to a FITS file with the pixel sensitivity map
# if FPA_PIXEL_MAP == none
FPA_DEAD_PIXELS         1                       # [%] if FPA_PIXEL_MAP=none, a percentage of detector pixel which are dead
FPA_DEAD_LINES          1                       # [%] if FPA_PIXEL_MAP=none, a percentage of detector lines which are dead

FPA_CHIP_LAYOUT         FPA_array_layout.dat    # ["tiny", "small", "centre", "full", <filename>] description of the chip layout on the detector array.
FPA_PIXEL_READ_TIME     1E-5                    # [s] read time for y pixel - typically ~10 us
FPA_READ_OUT_SCHEME     None                    # "none" "double_corr", "up-the-ramp", "fowler"

################################################################################
# NXRG Noise Generator package parameters
# See Rauscher (2015) for details
# http://arxiv.org/pdf/1509.06264.pdf

HXRG_NUM_OUTPUTS        64                      # Number of
HXRG_NUM_ROW_OH         8                       # Number of row overheads
HXRG_PCA0_FILENAME      None                    # if "default": <pkg_dir>/data/
HXRG_OUTPUT_PATH        None                    # Path to save the detector noise
HXRG_PEDESTAL           4                       # Pedestal noise
HXRG_CORR_PINK          3                       # Correlated Pink noise
HXRG_UNCORR_PINK        1                       # Uncorrelated Pink noise
HXRG_ALT_COL_NOISE      0.5                     # Alternating Column noise

HXRG_NAXIS1             4096                    # Size of the HAWAII 4RG detectors
HXRG_NAXIS2             4096
HXRG_NUM_NDRO           1                       # Number of non-destructive readouts to add to a noise cube
