################################################################################
# MODE_MCAO_ZOOM : OBSERVATION MODE SPECIFIC PARAMETERS FOR MICADO


################################################################################
# Simulation Parameters

SIM_OBSERVING_MODE      MODE_MCAO_ZOOM
SIM_DETECTOR_PIX_SCALE  0.0015                  # [arcsec] plate scale of the detector
SIM_LAM_TC_BIN_WIDTH    None                    # [um] wavelength resolution of spectral curves


################################################################################
# Telescope Parameters

SCOPE_PSF_FILE          MAORY_MCAO_1.5mas       # either a filename of the name of a PSF in the local package database


################################################################################
# Instrument Parameters

INST_NUM_MIRRORS        13                      # number of reflecting surfaces in MICADO

INST_NUM_AO_MIRRORS     7                       # number of reflecting surfaces between telescope and instrument (i.e. MAORY)
INST_MIRROR_AO_TC       TER_mirror_gold_MAORY.dat   # Filename of CFO mirror transmission curve
INST_MIRROR_AO_LIST     EC_mirrors_MCAO_MAORY.tbl   # List of mirrors in the AO. Default: <pkg_dir>/data/EC_mirrors_ao.tbl
