name: Notebooks Dispatch

on:
  # Allows wourkflow to be called by other workflows
  workflow_call:
    inputs:
      clone-irdb:
        type: boolean
        description: If True, use clone of IRDB repo instead of package download.

jobs:
  run_notebooks:
    name: ${{ matrix.os }}, ${{ matrix.python-version }}
    strategy:
      matrix:
        # Run all operating systems, because this is the first interaction
        # that users have with ScopeSim / IRDB.
        # However, only use minimum and maximum supported Python version,
        # as the IRDB download often fails.
        # As of 2023/07/19, this test still often fails. See
        # https://github.com/AstarVienna/ScopeSim/issues/254
        # For now, only run on one configuration, as having one green test
        # is more useful than 5 green and one red. The others can be enabled
        # once we fix the problem properly.
        # os: [ubuntu-latest, windows-latest, macos-latest]
        # python-version: ['3.8', '3.11']
        os: [ubuntu-latest]
        python-version: ["3.11"]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Install poetry
        shell: bash
        run: pipx install poetry==2.1.4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          poetry install --with test --with dev --all-extras
          poetry run pip install ScopeSim_Templates
          poetry run pip install git+https://github.com/AstarVienna/ScopeSim_Data.git

      - name: Run notebooks
        env:
          TQDM_MININTERVAL: 10
          CLONE:  ${{ inputs.clone-irdb && '--clone-irdb' || '' }}
        run: poetry run ./runnotebooks.sh $CLONE --delete
